<footer id="footer" class="clearfix">
  <div class="limiter">
    <div class="menu-divers">
      <ul class="links">
        <li class="0 first"><a href="http://www.anne-hidalgo.net/mentions-legales">Mentions légales</a></li>
        <li class="1"><a href="http://www.anne-hidalgo.net/la-charte">Charte et conditions d&#039;utilisation</a></li>
        <li class="2"><a href="http://www.anne-hidalgo.net/presse">Presse</a></li>
        <li class="3 last"><a href="http://participez.anne-hidalgo.net/api">API</a></li>
      </ul>
    </div>
  </div>
</footer>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34533659-1']);
  _gaq.push(['_setDomainName', 'anne-hidalgo.net']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.shuffle.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
