<a id="logo" href="http://www.anne-hidalgo.net"><h1>Anne Hidalgo, Paris qui ose</h1></a>
<a href="http://www.anne-hidalgo.net/search" class="recherche">Recherche</a>
<div class="top-social">
  <a href="http://www.twitter.com/Anne_Hidalgo" class="twitter"><img src="http://static.anne-hidalgo.net/wrapper/social/twitter-01.png"></a>
  <a href="http://www.facebook.com/HidalgoAnne" class="facebook"><img src="http://static.anne-hidalgo.net/wrapper/social/facebook-01.png"></a>
  <a href="http://www.dailymotion.com/AnneHidalgo" class="dailymotion"><img src="http://static.anne-hidalgo.net/wrapper/social/daily-01.png"></a>
  <a href="http://www.flickr.com/photos/annehidalgo/" class="flickr"><img src="http://static.anne-hidalgo.net/wrapper/social/flickr-01.png"></a>
  <a href="http://www.anne-hidalgo.net/feed/" class="rss"><img src="http://static.anne-hidalgo.net/wrapper/social/rss-01.png"></a>
  <a href="http://www.anne-hidalgo.net/contact" class="contact"><img src="http://static.anne-hidalgo.net/wrapper/social/contact-01.png"></a>
</div>
