<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta property="og:site_name" content="Anne Hidalgo - Paris qui ose : Participez à la campagne !" />

<!-- Titre de la page -->
<title>{{ page.title }}</title>
<meta property="og:title" content="{{ page.title }}" />
<meta name="twitter:title" content="{{ page.title }}" />

<!-- Description -->
<meta name="description" content="{{ page.description }}">
<meta property="og:description" content="{{ page.description }}" />

<!-- Illustrations -->
<link rel="shortcut icon" href="http://www.anne-hidalgo.net/sites/all/themes/oserparis/favicon.ico" type="image/vnd.microsoft.icon" />
<meta name="twitter:image" content="http://www.anne-hidalgo.net/sites/all/themes/oserparis/img/oserparis.png" />
<meta property="og:image" content="http://www.anne-hidalgo.net/sites/all/themes/oserparis/img/oserparis.png" />
<link rel="apple-touch-icon-precomposed" href="http://www.anne-hidalgo.net/sites/all/themes/oserparis/img/apple-touch-icon.png" />

<!-- URL -->
<link rel="canonical" href="http://participez.anne-hidalgo.net/" />
<meta name="twitter:url" content="http://participez.anne-hidalgo.net/" />
<meta property="og:url" content="http://participez.anne-hidalgo.net/" />

<!-- Type -->
<meta name="twitter:card" content="summary" />
<meta property="og:type" content="website" />

{% if page.slug == "api" || page.slug == "developpeurs" %}
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" media="all" />
{% endif %}

<!-- Police et feuilles de styles -->
<link href="http://fnt.webink.com/wfs/webink.css/?project=7A339026-0D8A-4EB0-98AC-F567C6E2AEB7&fonts=9A7D050F-90F6-FFE9-3419-6B9F9BF2175A:f=DadaGrotesk-Light,EFFADD6B-2925-E479-1B96-25971B58BDDD:f=DadaGrotesk-HeavyIta,2163C322-3CDA-95AB-9E42-E05BE193096D:f=DadaGrotesk-Medium,24DE189E-1288-3D17-9098-02A6DA4844A0:f=DadaGrotesk-LightIta,740CE5DE-8D8E-10DA-A267-38409C39EF73:f=DadaGrotesk-Book,4C3B1F7C-2466-6E77-F306-33C44A47930A:f=DadaGrotesk-Heavy,278C8A16-A3EA-16D0-2F0F-2A37E6FE69F1:f=DadaGrotesk-Bold,582EA2A2-F043-90EB-AB74-46D88E5B77CA:f=DadaGrotesk-BoldIta,60B43DE5-BCCD-5FEC-EFF5-8983731C6868:f=DadaGrotesk-BookIta,5E459CB5-7526-407B-029A-4BFDEEF540EC:f=DadaGrotesk-MediumIta" rel="stylesheet" type="text/css"/>
<link type="text/css" rel="stylesheet" href="/css/base.css" media="all" />
<link type="text/css" rel="stylesheet" href="/css/style.css" media="all" />

<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="http://www.anne-hidalgo.net/sites/all/themes/oserparis/js/mtml5shiv.js"><\/script>')</script>
<![endif]-->
