<ul class="limiter clearfix">

  <li class="menu-0 me-connaitre has-submenu">
    <a href="http://www.anne-hidalgo.net/me-connaitre" class="main-menu-link">
      <span class="title">Me connaître</span>
      <img class="fleche" src="http://static.anne-hidalgo.net/wrapper/fleches/jaune.png">
    </a>
  </li>

  <li class="menu-1 mes-propositions has-submenu">
    <a href="http://www.anne-hidalgo.net/mes-propositions" class="main-menu-link">
      <span class="title">Mes propositions</span>
      <img class="fleche" src="http://static.anne-hidalgo.net/wrapper/fleches/rose.png">
    </a>
  </li>

  <li class="menu-2 arrondissements has-submenu">
    <a href="http://www.anne-hidalgo.net/arrondissements" class="main-menu-link">
      <span class="title">Arrondissements</span>
      <img class="fleche" src="http://static.anne-hidalgo.net/wrapper/fleches/vert.png">
    </a>
  </li>

  <li class="menu-3 actualite-et-agenda has-submenu">
    <a href="http://www.anne-hidalgo.net/actualites" class="main-menu-link">
      <span class="title">Actualité et Agenda</span>
      <img class="fleche" src="http://static.anne-hidalgo.net/wrapper/fleches/bleu.png">
    </a>
  </li>

</ul>
